*{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#typing-text {
    display: inline-block;
    border-right: 15px solid black;
    padding-right: 5px;
    animation: typing 1s steps(10, end);
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 10% }
  }
form button{
 text-align: center;
}